Repository larioborges/lario-portfolio-website: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint:fix, bun run lint:fixall

removed preload
  astro.config.ts
  bun.lock
  package.json
Due: bun run lint:fix

prefetch
  src/components/astro/GlassHeader/NavLink.astro
Due: bun run lint:fixall

preload gtm
  src/layouts/Layout.astro
Due: bun run lint:fixall

improvements
  .prettierignore
  astro.config.ts
  biome.json
  bun.lock
  config/seoConfig.ts
  lario-portfolio-website.code-workspace
  package.json
  src/components/astro/GlassHeader/HomeLink.astro
  src/components/astro/GlassHeader/NavLink.astro
  src/components/astro/ui/ReloadPrompt.astro
  src/constants/index.ts
  src/constants/metaData.ts
  src/layouts/Layout.astro
  src/pages/awards.astro
  src/pages/education.astro
  src/pages/employment-history.astro
  src/pages/project-showcase.astro
  src/pages/skills.astro
  src/styles/global.css
  src/styles/layout.css
Due: bun run lint:fix, bun run lint:fixall

dependencies
  bun.lock
  package.json
Due: none

Cleanup
  src/layouts/Layout.astro
  src/pages/awards.astro
  src/pages/education.astro
  src/pages/employment-history.astro
  src/pages/index.astro
  src/pages/project-showcase.astro
  src/pages/skills.astro
  tsconfig.json
Due: bun run lint:fixall

changes
  biome.json
  bun.lock
  package.json
  src/layouts/Layout.astro
Due: bun run lint:fixall

improvements
  bun.lock
Due: none

cache headers
  netlify.toml
  src/scripts/pwa.ts
Due: bun run lint:fix

csp
  netlify.toml
Due: none

partytown
  astro.config.ts
  bun.lock
  lario-portfolio-website.code-workspace
  package.json
  src/layouts/Layout.astro
  src/styles/layout.css
Due: bun run lint:fix, bun run lint:fixall

theme toggle library
  bun.lock
  package.json
  src/components/GlassHeader/ActionButtons.astro
  src/components/ui/ThemeToggle.astro
  src/layouts/Layout.astro
  src/scripts/BrowserInit.ts
  src/scripts/InitTheme.ts
  src/store/theme.ts
Due: bun run lint:fix, bun run lint:fixall

biome formatting in the build
  astro.config.ts
  biome.json
  bun.lock
  package.json
  tsconfig.json
Due: bun run lint:fix

Cleanup
  src/components/Awards/Name.astro
  src/components/ui/SkillTag.astro
  src/styles/layout.css
Due: bun run lint:fix, bun run lint:fixall

css improvements
  bun.lock
  cssnano.config.ts
  package.json
  postcss.config.ts
Due: bun run lint:fix

removed dependency
  bun.lock
  package.json
Due: none

changed the script, style,. html combo
  src/components/Awards/Content.astro
  src/components/Awards/Issuer.astro
  src/components/Awards/Name.astro
  src/components/Awards/Tags.astro
  src/components/Awards/index.astro
  src/components/Footer.astro
  src/components/GlassHeader/HomeLink.astro
  src/components/GlassHeader/MobileMenu.astro
  src/components/GlassHeader/NavLink.astro
  src/components/GlassHeader/NavLinks.astro
  src/components/Home/HeroSection/Intro.astro
  src/components/Home/HeroSection/Link.astro
  src/components/Home/HeroSection/Links.astro
  src/components/Home/HeroSection/Location.astro
  src/components/Home/HeroSection/Name.astro
  src/components/Home/HeroSection/ProfilePic.astro
  src/components/Home/HeroSection/index.astro
  src/components/Home/index.astro
  src/components/ProjectShowcase/ShowCase.astro
  src/components/Skills.astro
  src/components/icons/Github.astro
  src/components/icons/LinkedIn.astro
  src/components/icons/Mail.astro
  src/components/icons/MapPoint.astro
  src/components/icons/Trophy.astro
  src/components/ui/Button.astro
  src/components/ui/Content.astro
  src/components/ui/ContentBlock.astro
  src/components/ui/GlassCard.astro
  src/components/ui/Heading.astro
  src/components/ui/PageSection.astro
  src/components/ui/SkillCategorySection.astro
  src/components/ui/TimelineItem/InfoText.astro
  src/components/ui/TimelineItem/index.astro
  src/contentful/types/PersonalInfo.ts
Due: bun run lint:fix, bun run lint:fixall

Path conditions:
  bun run lint:fix: ((((any of: *.ts) or (any of: *.js)) or (any of: *.mjs)) or (any of: *.cjs)) or (any of: *.css)
  bun run lint:fixall: any of: *.astro
